.titulo {
    font-family: "Champion Featherwt A","Champion Featherwt B";
    font-size: 40px;
    text-transform: uppercase;
    line-height: 66px;
    letter-spacing: 8.3px;
    word-spacing: 11px;
    font-weight: 400;
    margin-bottom: 39px;
    color: rgb(217, 235, 217);
    padding-top: 180px;
    padding-left: 650px;
}


#fecha{

font-style:initial;
color: rgb(58, 148, 238);
font-size: 15px;
line-height: 20px;
text-align: center;
}
.lista{

    font-style:initial;
    color: rgb(58, 148, 238);
    font-size: 15px;
    line-height: 20px;
    text-align: justify;


    }

.main-header {
    position: absolute;
    width: 100%;
    height: 103px;
    top: 56px;
    left: 0;
    text-align: center;
    display: table;
    z-index: 999;
    }
   

    .main-header > .menu {
        display: table-cell;
        font-size: 0;
        top: 0;
        background-color: transparent;
    }
    .main-header > .menu, .pre-header .item {
       
        text-transform: uppercase;
        vertical-align: middle;
    }
    
    .main-header > .menu > .item.-active, .main-header > .menu > .item:hover {
        color: #929191;
    }
    .main-header > .menu > .item {
        font-size:15px;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-color: currentcolor;
        display: inline-block;
        margin: 0 19px;
        margin-top: 0px;
        margin-right: 19px;
        margin-bottom: 0px;
        margin-left: 19px;
        transition-property: color;
        transition-duration: 150ms;
        font-family:'BonvenoCFLight', "Helvetica Neue", Helvetica, Arial, sans-serif;  
    }


    
#linea{

    Width: 100%;
    height: 70px;
    background-color: #000;
     position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

}
#bio{
    font-family: 'VollkornItalic', Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    color: #cccccc;
    letter-spacing: 1px;
    line-height: 1.8;}
    .ca{
        float: left;
box-shadow: 1px 2px 10px 0 #666;
margin: 8px 35px 20px 8px;
    

}
.contenedor{

font-size: 12px;
color: #444;
color: black;
width: 1000px;
margin: 0px auto;
}
.contenido{
word-spacing: 5px;
width: 1000px;
text-align: justify;
margin: 0px auto;
float: left;

}



.seccion{
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}
p {
margin-bottom: 20px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 18px;
color: rgb(252, 246, 246);
line-height: 22px;
margin-right: 10px;
margin-left: 10px;
}
.subtitulos{
font: bold 16px/18px ProximaNova-Regular;
text-decoration: none;
text-align: center;
text-transform: uppercase;
color: rgb(238, 216, 216);
padding-top: 10px;
padding-bottom: 10px;
}

.videos {
   text-align: center;
}

#cita {
    font-size: 18px;
    text-align: justify;
    color: white;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li {
    list-style-type: initial;
    padding: 0px;
    text-align: justify;
}