.linea{
 
    
 background-image:url(https://lallavedeplatablog.files.wordpress.com/2017/10/banner.jpeg?w=1256&#038;h=416&#038;crop=1);
height: 350px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}



.titulo {
    font-family: "Champion Featherwt A","Champion Featherwt B";
    font-size: 30px;
    text-transform: uppercase;
    line-height: 66px;
    letter-spacing: 8.3px;
    word-spacing: 11px;
    font-weight: 400;
    margin-bottom: 39px;
    color: rgb(209, 223, 162);
    padding-top: 300px;
    padding-left: 650px;
}
.sub {
    font-family: "Champion Featherwt A","Champion Featherwt B";
    font-size: 20px;
   
}



#fecha{

font-style:initial;
color: rgb(50, 130, 209);
font-size: 18px;
line-height: 20px;
text-align: right;
}

.main-header {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0;
    text-align: center;
    display: table;
    z-index: 999;
    }
   

    .main-header > .menu {
        display: table-cell;
        font-size: 0;
        top: 0;
        background-color: black;
    }
    .main-header > .menu, .pre-header .item {
       
        text-transform: uppercase;
        vertical-align: middle;
    }
    
    .main-header > .menu > .item.-active, .main-header > .menu > .item:hover {
        color: #929191;
    }
    .main-header > .menu > .item {
        font-size:15px;
        margin-bottom: 39px;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-color: currentcolor;
        display: inline-block;
        margin: 0 19px;
        margin-top: 0px;
        margin-right: 19px;
        margin-bottom: 0px;
        margin-left: 19px;
        transition-property: color;
        transition-duration: 150ms;
        font-family:'BonvenoCFLight', "Helvetica Neue", Helvetica, Arial, sans-serif;  
    }


    

#bio{
    font-family: 'VollkornItalic', Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    color: #cccccc;
    letter-spacing: 1px;
    line-height: 1.8;}
   
    .ca{
        float: left;
box-shadow: 1px 2px 10px white;
margin: 8px 35px 20px 8px;
    

}
.contenedor{

font-size: 12px;

width: 1400px;
margin: 0px auto;
background-color: rgba(236, 229, 229, 0.808);
}
.contenido{
word-spacing: 5px;
width: 10000 px;
text-align: justify;
margin: 0px auto;
float: left;

}



.seccion{
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}
p {
margin-bottom: 20px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
color:white;
line-height: 22px;
margin-right: 10px;
margin-left: 10px;
}
.subtitulos{
font: bold 16px/18px ProximaNova-Regular;
text-decoration: none;
text-align: center;
text-transform: uppercase;
color:wheat;
padding-top: 10px;
padding-bottom: 10px;
font-size: 20PX;
}

.videos {
   text-align: center;
   word-spacing: 10px;
}


.glosario
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    padding-left: 300px;
    margin-right: 200px;
    margin-top: 90px;
    text-indent: 0.8cm;

}


ol li {
    text-transform: uppercase;
    font-family: 'Cardo', serif;
    color:wheat;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#disqus_thread{



    color: aliceblue;
}