.pre-header{
    Width: 100%;
    height: 50px;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

}
.main-header {
    position: absolute;
    width: 100%;
    height: 103px;
    top: 56px;
    left: 0;
    text-align: center;
    display: table;
    z-index: 999;
    }
   

    .main-header > .menu {
        display: table-cell;
        font-size: 0;
        top: 0;
        background-color: transparent;
    }
    .main-header > .menu, .pre-header .item {
       
        text-transform: uppercase;
        vertical-align: middle;
    }
    
    .main-header > .menu > .item.-active, .main-header > .menu > .item:hover {
        color: #929191;
    }
    .main-header > .menu > .item {
        font-size:15px;
        color: #ebebe9;
        letter-spacing: 1px;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: solid;
        text-decoration-color: currentcolor;
        display: inline-block;
        margin: 0 19px;
        margin-top: 0px;
        margin-right: 19px;
        margin-bottom: 0px;
        margin-left: 19px;
        transition-property: color;
        transition-duration: 150ms;
        font-family:'BonvenoCFLight', "Helvetica Neue", Helvetica, Arial, sans-serif;  
    }
    .title {
        font-family: "Champion Featherwt A","Champion Featherwt B";
        font-size: 40px;
        text-transform: uppercase;
        line-height: 66px;
        letter-spacing: 8.3px;
        word-spacing: 11px;
        font-weight: 400;
        margin-bottom: 39px;
        color: #ebebe9;
        padding-top: 250px;
        padding-left: 200px;
    }
    
    p {
        font-family: 'VollkornItalic', Georgia, "Times New Roman", Times, serif;
        font-size: 17px;
        color: #cccccc;
        letter-spacing: 1px;
        line-height: 1.8;
        font-weight: normal;
        font-style: normal;
        text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
        
        padding-left: 250px;
    }
    
    
    